@import '../../styles/variables/global.scss';
$levelMargin: 20px;

.table-view {
	width: 100%;
	background-color: $backgroundColor;
}

.title-container {
	display: flex;
	min-height: 45px;
	align-items: center;
	background-color: #27272a;
}

.project-view-title {
	padding: 0 24px;
	font-size: 18px;
}

.table-row {
	.table-cell {
		color: #a1a1aa;
		padding: 0;
		height: 44px;
		text-align: left;
		width: 200px;
		&:first-of-type {
			width: 110px;
		}
		&:nth-of-type(2) {
			width: 757px;
		}
	}
}

.edit-input {
	color: #71717a;
	border-radius: 6px;

	& input {
		font-size: 14px;
		padding: 10px;
	}

	& fieldset {
		border-color: #71717a;
	}

	&:hover .MuiOutlinedInput-notchedOutline {
		border-color: #71717a;
	}

	&:focus .MuiOutlinedInput-notchedOutline {
		border-color: $white;
	}
}

.MuiTableRow-root {
	.MuiTableCell-root {
		padding: 11px 12px;
		box-sizing: border-box;
		border-color: $dividerColor;
		position: relative;

		.icon {
			position: relative;
		}

		.level-1 {
			margin-left: $levelMargin;
		}

		.level-2 {
			margin-left: $levelMargin * 2;
		}

		.button {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 24px;
			height: 24px;
			padding: 0;
			background-color: transparent;
			border: none;
			transition: 0.2s;
			&:hover {
				opacity: 0.8;
			}

			&.visible {
				display: flex;
			}

			&.hidden {
				display: none;
			}

			.button-icon {
				&.folder {
					width: 20px;
					height: 16px;
				}
				&.file {
					width: 16px;
				}
				&.delete {
					height: 16px;
					width: 13px;
				}
			}

			&.child {
				position: relative;
				&::before {
					content: '';
					position: absolute;
					top: 11px;
					left: -8px;
					width: 11px;
					border-color: $levelLineColor;
					border-width: thin;
					border-style: solid;
					border-right: none;
					border-top: none;
				}
			}
		}

		.main-button {
			border-radius: 6px 0 0 6px;
			position: relative;
			// &::after {
			// 	content: '';
			// 	position: absolute;
			// 	bottom: -34px;
			// 	left: 12px;
			// 	height: 38px;
			// 	border-color: $levelLineColor;
			// 	border-width: thin;
			// 	border-style: solid;
			// 	border-right: none;
			// 	border-top: none;
			// }
		}

		.MuiSvgIcon-root {
			width: 16px;
			height: 16px;
			padding: 6px 2px;
			vertical-align: middle;
		}

		.buttons-container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: absolute;
			z-index: 0;
			background-color: $dividerColor;
			padding-left: 4px;
			border-radius: 0 6px 6px 0;
			top: 11px;
			left: 33px;
			opacity: 0;
			visibility: hidden;
			width: 66px;
			box-sizing: border-box;
			transition-duration: 0.18s;

			&.active {
				visibility: visible;
				opacity: 1;
			}
		}

		&:hover .buttons-container {
			visibility: visible;
			opacity: 1;
		}
		&:hover .button {
			background-color: $dividerColor;
			opacity: 1;
		}
	}
}
